---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family:  sans-serif;
$base-font-size:    24px;
$base-line-height:  1.5;
$link-hover:        rgba(210, 23, 23, 0.7);
$spacing-unit:      1.5em;
$blue:              rgba(25, 117, 229, 0.3);
$yellow:            rgba(255, 244, 43, 0.5);
$green:             rgba(138, 219, 79, 0.3);
$body-background:   #f2f2f2;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "layout",
        "syntax-highlighting"
;
