---
layout: page
title: Archives
permalink: /archives/
---
<h2>Archives</h2>
<ul>
  {% for post in site.posts %}

    {% unless post.next %}
      <li><h3>{{ post.date | date: '%Y' }}</h3></li>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <li><h3>{{ post.date | date: '%Y' }}</h3></li>
      {% endif %}
    {% endunless %}

    <li>{{ post.date | date:"%m/%d/%Y" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
