---
layout: default 
title: block-log 
---

<section class="main-content">
    {% for post in site.posts limit:1 %}
        <article class="module color3">
                <h2><a class="red" href="{{ post.url }}">{{ post.title }}</a></h2>
                <time>{{ post.date| date: "%m/%d/%Y" }}</time>
                <p>{{ post.content | strip_html | truncate: 250 }}</p>
        </article>
    {% endfor %}

    {% for post in site.posts offset:1 %}
        <article class="module color3">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <time>{{ post.date| date: "%m/%d/%Y" }}</time>
        </article>
    {% endfor %}
</section>


